/* 1. Define the custom font */
@font-face {
  font-family: 'Gopher';
  src: url('/fonts/Gopher-Bold.otf') format('opentype'),
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gopher';
  src: url('/fonts/Gopher-Regular.otf') format('opentype'),
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gopher';
  src: url('/fonts/Gopher-Medium.otf') format('opentype'),
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 2. Global Picnic Branding */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E55937;
  --text-yellow: #FFE974;
}

body {
  background-color: var(--background);
  color: var(--text-yellow);
  font-family: 'Gopher', sans-serif; /* Set Gopher as default */
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-family: 'Gopher', sans-serif;
  font-weight: 700; /* Headers weighted at 700 */
  color: var(--text-yellow);
  text-transform: uppercase;
}
h3, h4 {
  font-family: 'Gopher', sans-serif;
  font-weight: 500; /* Headers weighted at 500 */
  color: var(--text-yellow);
  text-transform: uppercase;
}

p {
  font-family: 'Gopher', sans-serif;
  font-weight: 500; /* Headers weighted at 400 */
  color: var(--text-white);
  text-transform: uppercase;
}

/* Custom button style for Picnic At Home */
.btn-picnic {
  background-color: #FFE974;
  color: #E55937;
  border: 4px solid black;
  border-radius: 1rem;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.1s ease;
}

.btn-picnic:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
}
